USE [master]
GO
/****** Object:  Database [TPW24]    Script Date: 2014-05-28 11:49:41 ******/
CREATE DATABASE [TPW24]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPW24', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TPW24.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TPW24_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TPW24_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPW24].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPW24]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationName] [nvarchar](235) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BoardCategories]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BoardCategories](
	[BoardCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[BoardCategoryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BoardCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Boards]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Boards](
	[BoardID] [int] IDENTITY(1,1) NOT NULL,
	[BoardName] [varchar](100) NOT NULL,
	[BoardCategoryID] [int] NULL,
	[Description] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[BoardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorType] [varchar](60) NULL,
	[ErrorMsg] [varchar](2048) NULL,
	[ErrorDate] [datetime] NULL,
	[AdditionalInfo] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Memberships]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Memberships](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowsStart] [datetime] NOT NULL,
	[Comment] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NULL,
	[WrittenBy] [uniqueidentifier] NULL,
	[DateWritten] [datetime] NULL,
	[DateLastEdited] [datetime] NULL,
	[Content] [ntext] NOT NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK__Messages__C87C037C67EE70D9] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrivateMsgs]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PrivateMsgs](
	[PrivateMsgID] [int] IDENTITY(1,1) NOT NULL,
	[WrittenBy] [uniqueidentifier] NULL,
	[SentTo] [uniqueidentifier] NULL,
	[DateWritten] [datetime] NULL,
	[Content] [ntext] NOT NULL,
	[PrivateMsgTitle] [varchar](60) NULL,
 CONSTRAINT [PK__PrivateM__A6B4D42044DE3ED2] PRIMARY KEY CLUSTERED 
(
	[PrivateMsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[UserId] [uniqueidentifier] NOT NULL,
	[PropertyNames] [nvarchar](4000) NOT NULL,
	[PropertyValueStrings] [nvarchar](4000) NOT NULL,
	[PropertyValueBinary] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topics]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[BoardID] [int] NULL,
	[StartedBy] [uniqueidentifier] NULL,
	[TopicTitle] [varchar](100) NOT NULL,
	[StartedDate] [datetime] NULL,
	[ViewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[IsAnonymous] [bit] NOT NULL,
	[LastActivityDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersOpenAuthAccounts]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersOpenAuthAccounts](
	[ApplicationName] [nvarchar](128) NOT NULL,
	[ProviderName] [nvarchar](128) NOT NULL,
	[ProviderUserId] [nvarchar](128) NOT NULL,
	[ProviderUserName] [nvarchar](max) NOT NULL,
	[MembershipUserName] [nvarchar](128) NOT NULL,
	[LastUsedUtc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationName] ASC,
	[ProviderName] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersOpenAuthData]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersOpenAuthData](
	[ApplicationName] [nvarchar](128) NOT NULL,
	[MembershipUserName] [nvarchar](128) NOT NULL,
	[HasLocalPassword] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationName] ASC,
	[MembershipUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 2014-05-28 11:49:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[UserID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](60) NULL,
	[Sexe] [char](1) NULL,
	[Country] [varchar](60) NULL,
	[Province] [varchar](60) NULL,
	[City] [varchar](60) NULL,
	[photoProfil] [varchar](500) NULL,
	[DateNais] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Applications] ([ApplicationName], [ApplicationId], [Description]) VALUES (N'/', N'654f50e7-e247-488a-9b66-8cfaa49879ac', NULL)
SET IDENTITY_INSERT [dbo].[BoardCategories] ON 

INSERT [dbo].[BoardCategories] ([BoardCategoryID], [BoardCategoryName]) VALUES (1, N'Culture Québécoise')
INSERT [dbo].[BoardCategories] ([BoardCategoryID], [BoardCategoryName]) VALUES (2, N'Ressources')
INSERT [dbo].[BoardCategories] ([BoardCategoryID], [BoardCategoryName]) VALUES (3, N'Autre & Discussion Générale')
SET IDENTITY_INSERT [dbo].[BoardCategories] OFF
SET IDENTITY_INSERT [dbo].[Boards] ON 

INSERT [dbo].[Boards] ([BoardID], [BoardName], [BoardCategoryID], [Description]) VALUES (3, N'Cuisine', 1, NULL)
INSERT [dbo].[Boards] ([BoardID], [BoardName], [BoardCategoryID], [Description]) VALUES (4, N'Histoire', 1, NULL)
INSERT [dbo].[Boards] ([BoardID], [BoardName], [BoardCategoryID], [Description]) VALUES (5, N'Cinéma', 1, NULL)
SET IDENTITY_INSERT [dbo].[Boards] OFF
SET IDENTITY_INSERT [dbo].[ErrorLog] ON 

INSERT [dbo].[ErrorLog] ([ErrorID], [ErrorType], [ErrorMsg], [ErrorDate], [AdditionalInfo]) VALUES (1, N'System.Data.SqlClient.SqlException', N'Échec de la conversion d''une chaîne de caractères en uniqueidentifier.', CAST(0x0000A33400B93351 AS DateTime), N'Méthode DB.ExecuteNonQuery()')
INSERT [dbo].[ErrorLog] ([ErrorID], [ErrorType], [ErrorMsg], [ErrorDate], [AdditionalInfo]) VALUES (2, N'System.Data.SqlClient.SqlException', N'Échec de la conversion d''une chaîne de caractères en uniqueidentifier.', CAST(0x0000A33400B9BEA1 AS DateTime), N'Méthode DB.ExecuteNonQuery()')
INSERT [dbo].[ErrorLog] ([ErrorID], [ErrorType], [ErrorMsg], [ErrorDate], [AdditionalInfo]) VALUES (3, N'System.Data.SqlClient.SqlException', N'Échec de la conversion d''une chaîne de caractères en uniqueidentifier.', CAST(0x0000A33400BA135A AS DateTime), N'Méthode DB.ExecuteNonQuery()')
SET IDENTITY_INSERT [dbo].[ErrorLog] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [TopicID], [WrittenBy], [DateWritten], [DateLastEdited], [Content], [IsBlocked]) VALUES (2, 3, N'4325cafa-7515-426d-bf4d-d7816fd89467', CAST(0x0000A33100000000 AS DateTime), NULL, N'La cuisine québécoise', 0)
INSERT [dbo].[Messages] ([MessageID], [TopicID], [WrittenBy], [DateWritten], [DateLastEdited], [Content], [IsBlocked]) VALUES (3, 4, N'4325cafa-7515-426d-bf4d-d7816fd89467', CAST(0x0000A33100000000 AS DateTime), NULL, N'L''histoire du québec', 0)
INSERT [dbo].[Messages] ([MessageID], [TopicID], [WrittenBy], [DateWritten], [DateLastEdited], [Content], [IsBlocked]) VALUES (4, 5, N'4325cafa-7515-426d-bf4d-d7816fd89467', CAST(0x0000A33100000000 AS DateTime), NULL, N'Le cinéma québécois', NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[PrivateMsgs] ON 

INSERT [dbo].[PrivateMsgs] ([PrivateMsgID], [WrittenBy], [SentTo], [DateWritten], [Content], [PrivateMsgTitle]) VALUES (9, N'4325cafa-7515-426d-bf4d-d7816fd89467', N'4325cafa-7515-426d-bf4d-d7816fd89467', CAST(0x0000A33400BCA635 AS DateTime), N'Ceci est un test', N'Ceci est un test')
INSERT [dbo].[PrivateMsgs] ([PrivateMsgID], [WrittenBy], [SentTo], [DateWritten], [Content], [PrivateMsgTitle]) VALUES (10, N'4325cafa-7515-426d-bf4d-d7816fd89467', N'17b4616b-ceb9-4aad-8aa0-0a3aa6c60d51', CAST(0x0000A33400D658EE AS DateTime), N'Hey!', N'Hey!')
INSERT [dbo].[PrivateMsgs] ([PrivateMsgID], [WrittenBy], [SentTo], [DateWritten], [Content], [PrivateMsgTitle]) VALUES (1010, N'4325cafa-7515-426d-bf4d-d7816fd89467', N'4325cafa-7515-426d-bf4d-d7816fd89467', CAST(0x0000A33800F68E37 AS DateTime), N'Et ceci est une réponse', N'Re: Ceci est un test')
SET IDENTITY_INSERT [dbo].[PrivateMsgs] OFF
INSERT [dbo].[Roles] ([ApplicationId], [RoleId], [RoleName], [Description]) VALUES (N'654f50e7-e247-488a-9b66-8cfaa49879ac', N'710ca842-e67c-4c8f-9aaf-f0a05b5c0f0c', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([TopicID], [BoardID], [StartedBy], [TopicTitle], [StartedDate], [ViewCount]) VALUES (3, 3, N'4325cafa-7515-426d-bf4d-d7816fd89467', N'Introduction', CAST(0x0000A31900C065CA AS DateTime), 68)
INSERT [dbo].[Topics] ([TopicID], [BoardID], [StartedBy], [TopicTitle], [StartedDate], [ViewCount]) VALUES (4, 4, N'4325cafa-7515-426d-bf4d-d7816fd89467', N'Introduction', CAST(0x0000A31A00C065CA AS DateTime), 1)
INSERT [dbo].[Topics] ([TopicID], [BoardID], [StartedBy], [TopicTitle], [StartedDate], [ViewCount]) VALUES (5, 5, N'4325cafa-7515-426d-bf4d-d7816fd89467', N'Introduction', CAST(0x0000A31B00C065CA AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[Topics] OFF
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'654f50e7-e247-488a-9b66-8cfaa49879ac', N'17b4616b-ceb9-4aad-8aa0-0a3aa6c60d51', N'claire', 0, CAST(0x0000A322007681C8 AS DateTime))
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'654f50e7-e247-488a-9b66-8cfaa49879ac', N'699b3bec-4f2d-465b-bed0-19c815a4b9f5', N'bobby1', 0, CAST(0x0000A322010873C1 AS DateTime))
INSERT [dbo].[Users] ([ApplicationId], [UserId], [UserName], [IsAnonymous], [LastActivityDate]) VALUES (N'654f50e7-e247-488a-9b66-8cfaa49879ac', N'13dee315-34bf-4548-aab2-219880aad1ed', N'DaveUser', 0, CAST(0x0000A3390104293A AS DateTime))
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'21b75f69-66c5-41cf-9801-8a95a45043f7', N'710ca842-e67c-4c8f-9aaf-f0a05b5c0f0c')
INSERT [dbo].[UsersInRoles] ([UserId], [RoleId]) VALUES (N'4325cafa-7515-426d-bf4d-d7816fd89467', N'710ca842-e67c-4c8f-9aaf-f0a05b5c0f0c')
INSERT [dbo].[UsersOpenAuthAccounts] ([ApplicationName], [ProviderName], [ProviderUserId], [ProviderUserName], [MembershipUserName], [LastUsedUtc]) VALUES (N'/', N'facebook', N'100001649835286', N'industwetrust@live.ca', N'Mickael', CAST(0x0000A338011D27A2 AS DateTime))
INSERT [dbo].[UsersOpenAuthAccounts] ([ApplicationName], [ProviderName], [ProviderUserId], [ProviderUserName], [MembershipUserName], [LastUsedUtc]) VALUES (N'/', N'google', N'https://www.google.com/accounts/o8/id?id=AItOawk8RgNg01Sw6iHW9ryTRT1ocQpitwLgQ94', N'chefjuanpi@gmail.com', N'dragon', CAST(0x0000A325010B5100 AS DateTime))
INSERT [dbo].[UsersOpenAuthData] ([ApplicationName], [MembershipUserName], [HasLocalPassword]) VALUES (N'/', N'dragon', 0)
INSERT [dbo].[UsersOpenAuthData] ([ApplicationName], [MembershipUserName], [HasLocalPassword]) VALUES (N'/', N'Mickael', 0)
INSERT [dbo].[Utilisateurs] ([UserID], [FirstName], [LastName], [Sexe], [Country], [Province], [City], [photoProfil], [DateNais]) VALUES (N'17b4616b-ceb9-4aad-8aa0-0a3aa6c60d51', N'Claire', N'Popolis', N'F', N'Canada', N'Québec', N'Alma', NULL, NULL)
INSERT [dbo].[Utilisateurs] ([UserID], [FirstName], [LastName], [Sexe], [Country], [Province], [City], [photoProfil], [DateNais]) VALUES (N'699b3bec-4f2d-465b-bed0-19c815a4b9f5', N'Bobby', N'Landy', N'H', N'', N'', N'', NULL, NULL)
INSERT [dbo].[Utilisateurs] ([UserID], [FirstName], [LastName], [Sexe], [Country], [Province], [City], [photoProfil], [DateNais]) VALUES (N'13dee315-34bf-4548-aab2-219880aad1ed', N'Dave', N'Cote', N'H', N'', N'', N'', NULL, CAST(0x0000000000000000 AS DateTime))
ALTER TABLE [dbo].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_ErrorDate]  DEFAULT (getdate()) FOR [ErrorDate]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Messages_DateWritten]  DEFAULT (getdate()) FOR [DateWritten]
GO
ALTER TABLE [dbo].[PrivateMsgs] ADD  CONSTRAINT [DF_PrivateMsgs_DateWritten]  DEFAULT (getdate()) FOR [DateWritten]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_StartedDate]  DEFAULT (getdate()) FOR [StartedDate]
GO
ALTER TABLE [dbo].[Boards]  WITH CHECK ADD FOREIGN KEY([BoardCategoryID])
REFERENCES [dbo].[BoardCategories] ([BoardCategoryID])
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipApplication]
GO
ALTER TABLE [dbo].[Memberships]  WITH CHECK ADD  CONSTRAINT [MembershipUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Memberships] CHECK CONSTRAINT [MembershipUser]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK__Messages__TopicI__25869641] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK__Messages__TopicI__25869641]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK__Messages__Writte__267ABA7A] FOREIGN KEY([WrittenBy])
REFERENCES [dbo].[Utilisateurs] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK__Messages__Writte__267ABA7A]
GO
ALTER TABLE [dbo].[PrivateMsgs]  WITH CHECK ADD  CONSTRAINT [FK__PrivateMs__SentT__276EDEB3] FOREIGN KEY([SentTo])
REFERENCES [dbo].[Utilisateurs] ([UserID])
GO
ALTER TABLE [dbo].[PrivateMsgs] CHECK CONSTRAINT [FK__PrivateMs__SentT__276EDEB3]
GO
ALTER TABLE [dbo].[PrivateMsgs]  WITH CHECK ADD  CONSTRAINT [FK__PrivateMs__Writt__286302EC] FOREIGN KEY([WrittenBy])
REFERENCES [dbo].[Utilisateurs] ([UserID])
GO
ALTER TABLE [dbo].[PrivateMsgs] CHECK CONSTRAINT [FK__PrivateMs__Writt__286302EC]
GO
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [UserProfile] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [UserProfile]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [RoleApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [RoleApplication]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD FOREIGN KEY([BoardID])
REFERENCES [dbo].[Boards] ([BoardID])
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD FOREIGN KEY([StartedBy])
REFERENCES [dbo].[Utilisateurs] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [UserApplication] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([ApplicationId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [UserApplication]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleRole]
GO
ALTER TABLE [dbo].[UsersInRoles]  WITH CHECK ADD  CONSTRAINT [UsersInRoleUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UsersInRoles] CHECK CONSTRAINT [UsersInRoleUser]
GO
ALTER TABLE [dbo].[UsersOpenAuthAccounts]  WITH CHECK ADD  CONSTRAINT [OpenAuthAccount_UserData] FOREIGN KEY([ApplicationName], [MembershipUserName])
REFERENCES [dbo].[UsersOpenAuthData] ([ApplicationName], [MembershipUserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersOpenAuthAccounts] CHECK CONSTRAINT [OpenAuthAccount_UserData]
GO
USE [master]
GO
